body {
  font-family: 'Figtree', sans-serif;
  color: #444;
  background-color: hsl(0, 0%, 98%);
  padding: 0;
  margin: 0;
}

/*
 * Formatting the header area
 background-color: hsl(0, 0%, 98%);
*/
header {
  width: 100%;
  text-align: center;
  text-transform: none;
  color: #444;
  padding: 0;
  margin: 0;
}

header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

header h1.logo:hover {
  color: #fff;
  text-decoration: none;
  text-align: center;
}
/*
 * Centering the body content
 */
.container {
  text-align: center;
}

.waterbackground {
  background-image: url(../img/sky.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  text-align: center;
  height: 90vh;
  padding-top: 10vh;
}

.waterbackground div {
  font-family:'Proxima-Nova-Condensed',Arial, Helvetica, sans-serif;
}

.container span {
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
}

.container div {

    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}

div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
    width: 10%;
  display: inline;
}

a {
  margin-top: 20px;
  left: 10px;
  bottom: 20px;
  text-align:center;
}

button {
  font-size: 1em;
  font: Ariel;
  margin: 10px auto;

  font-weight: 100;
  max-width: 100%;
  margin-left: 65%;
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  padding: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
}

button:hover {
  background-color: #F8F8FF;
}

h2 {
  font-size: 2.2em;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  margin-left: 200px;
  margin-right: 200px;
}

h3.ariel {
font-family: "Arial", Helvetica, sans-serif;
margin: 21px auto;
text-align: center;
}

p {
  font-size: 1em;
  font-weight: 50;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: left;
  letter-spacing: 0px;
  color: #444;
}

span {
  margin-left: 200px;
  margin-right: 200px;
  display: in-line block;
}

fieldset {
  margin-left: 20px;
  margin-right: 20px;
}

label {
    white-space: nowrap;
    margin: auto;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}

select {
font-size: 1.1em;
}

.firstoption {
font-style: italic;
color: gray;
}

.background {
    background-color: #DFE4ED;
    width: 70%;
    height: auto;
    border: thin #c0c0c0 solid;
    font: Ariel;
}

.menu {
  text-align: center;
  height: 45px;
  width: 100%;
  background-color: #0057B7;

  margin-top: auto;
  padding: 0;
}

.menu li {
  display: inline-block;
  position: relative;
  vertical-align: center;
  padding: 13px;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}

.menu li:hover .submenu {
  display: block;
  overflow: visible;
}

.menu li:hover .submenu2 {
  display: block;
  overflow: visible;
  height: 240px;

}

.navbar-links {
  display: none;
  position: absolute;
  left: -80%;
  z-index: 999;
  padding: 40%;
  padding-top: 0;

  margin: 0;
  list-style: none;
  background-color: #0057B7;
  border: none;

}

.submenu2 {
  display: none;
  position: absolute;
  left: -25%;
    height: 0px;
  z-index: 999;
  padding: 0;
  margin: 0;
  top: 45px;
  list-style: none;
  background-color: #0057B7;
  border: none;
  animation: dropdown;
  animation-duration: 0.5s;
}

@keyframes dropdown {
from {height: 0px; opacity: 0%;}
to {height: 240px; opacity: 100%;}
}

.navbar-links li {
  display: inline-block;
}

.navbar-links li + li {
  margin: 0;
  display: inline-block;
}

.navbar-links li a {
  display: inline-block;
  padding: 0px;
  padding-top: 0;
  text-decoration: none;
  font-size: 1.3em;
}

.submenu2 li {
  display: block;
}

.submenu2 li + li {
  margin: 0;
}

.submenu2 li a {
  display: block;
  padding: 5px;
  padding-top: 0;
  text-decoration: none;
    margin-top: 0px;
}

.submenu2 li:hover {
  background-color: #00336b;
}

.gear:hover {
  background-color: #00336b;
  height: 50px;
  padding: 3px;
  overflow: visible;
}

li a:hover {
text-decoration: underline;

}
.parent{
  text-align:center;
}

.button{
  width: 10%;
  bottom: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.button-home {
  width: 10%;
  bottom: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.two-buttons {
white-space: nowrap;
display: flex;
justify-content: center;

}
.two-buttons button {
    margin-left: 0;
}

/* The contaner must be positioned relative: */
.custom-select {
  position: relative;
  font-family: 'Figtree', sans-serif;
  width: 100%;
  left: 0px;
  bottom: 500px;
  position: absolute;
}

.select {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  /* Additional resets for further consistency */
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 10%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.your-div{
  vertical-align: bottom;
  display: table-cell;
  position: absolute;
}

.checkbox {
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;
  }

.instructions {
  text-align: center;
}

.chart {
  border: thin #c0c0c0 solid;
  padding: 5px;
  max-width: 220px;
}

.chart2 {
  border: thin #c0c0c0 solid;
  padding: 5px;
  max-width: 500px;
}

.symptom {
  display: inline-block;
  width:50%;
  height:200px;
  }

.layout-one {
  height: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #9FB59E;
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  vertical-align: middle;
  width: 240px;
  margin-top: auto;
  overflow: hidden;
  z-index: 1;
}

.layout-one:hover {
  height:160px;
  margin-top: auto;
  vertical-align: top;
  margin-bottom: -160px;
}

#stageone {
  background-color: #9FB59E;
}

#stagetwo {
  background-color: #9DA1B2;
}

#stagethree {
  background-color: #AF9CA1;
}

.layout-one a{
  text-align: left;
  vertical-align: middle;
    display: flex;
  position: relative;
  vertical-align: center;
  padding-top: 10px;
  margin-bottom: -10px;
}

.arrow-long {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: inset 0 0 0 2px;
  width: 24px;
  height: 6px
}
  /*  border: solid black;
  border-width: 0 3px 3px 0; */
/* to position the pseudo-element
    transform: rotate(-45deg);  padding: 4px;
  -webkit-transform: rotate(-45deg);*/

.arrow {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #444;
  display: inline-block;
  top: 4px;
  position: relative;
}

.arrow::before {
  content: "";
  position: absolute;
  border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 3px solid #444;
  top: -4.5px;
  left: -18px; /* adjust this value to align the line with the arrow */
  width: 1px;
  height: 7px;
  background-color: #444;
  transform: rotate(90deg);
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  padding: 20px;
}

.meter {
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 1%;
  background: #555;
  border-radius: 25px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 98%;
  box-sizing: border-box;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
  margin-left: 0;
  margin-right: 0;
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #9FB59E;
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  overflow: hidden;
  animation: progress;
  animation-duration: 0.5s;
}

.meter2span {
    background-color: #9DA1B2 !important;
}

.meter3span {
    background-color: #AF9CA1 !important;
}

@keyframes progress {
  from { width: var(--start);}
  to { width: attr(data);}
}

.typed {
  text-align: center;
  animation: typing;
  animation-duration: 0.5s;
  animation-timing-function: steps(30, end);
}

.message {
  font-size: 1em;
  font-family: "Arial", Helvetica, sans-serif;
  text-align: center;
  animation: typing;
  animation-duration: 0.5s;
  animation-timing-function: steps(30, end);
}

.message2 {
  font-size: 1em;
  position: absolute;
  overflow: hidden;
  margin:0;
  font-family: "Arial", Helvetica, sans-serif;
  box-sizing: border-box;
  animation: typewrite 4s steps(30) forwards;
  }

.message2 span {
  margin: 0;
}

@keyframes typing {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

@keyframes typewrite {
from { width: 0; }
  to { width: 100%; }
}


.results {
  width: 50%;
  height: auto;
  /*
  border: thin #c0c0c0 solid;  */
  margin: auto;
  padding: 50px auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;
  font: Arial;
  text-align: center;
  position: relative;
}

.results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.results li {
  border: 1px solid black;
  padding: 10px;
}

.symptoms {
  display: flex;
  flex-wrap: nowrap;
}

.left-column {
  flex: 1;
}

.right-column {
  text-align: left;
  flex: 1;
}


.results p {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  font: Ariel;
}

.results button {
  text-align: center;
  display: inline-block;
}

.chart-left {
  z-index: -1;
  width: 50%;
  height: 500px;
  border: thin #c0c0c0 solid;
  display: inline-block;
  float: left;
  margin-top: 50px;
}

.chart-center {
  width: 50%;
  height: auto;
  border: none;
  text-align: center;
  margin: 20 px auto;
  display: block;
  position: relative;
  top: 20px;
}

.unveiled {
  text-align: center;
  animation: unveil;
  animation-duration: 1s;
  animation-timing-function: steps(30, end);
}

.question {
  color: #fff;
  background-color: #002D62;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
  border-radius: 100%;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  line-height: 20px;
  -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
}


.login {
  font-size: 1em;
  padding: 10px;
  text-align: center;
}


@keyframes unveil {
  from { opacity: 0% }
  to { opacity: 100% }
}


@media print {

  header, button {
    display: none;
  }

  .container {
    display: none;
  }

  body {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  p, span, a {
    margin-left: 20px;
    margin-right: 20px;
  }

  div {
    width: 100%;
    border: none;
    display: block;
    margin: auto;
    text-align: center;
  }


  div h3 {
    width: 100%;
    border: none;
    display: block;
    margin: auto;
    text-align: center;
  }

  #chart {
    display: block;
    position: absolute;
    height: auto;
    margin-top: 5px;
    bottom: 0px;
    filter: grayscale(0%);
    display: none;
  }

  .results {
    width: 100%;
    border: none;
    margin: auto;
    position: relative;
    top: 100px;
    margin-bottom: 5px;
  }

  .symptoms {
    display: inline-block;
    flex-wrap: nowrap;
  }

  .left-column {
    display: inline-block;
    width: 50%;
    float: left;
  }

  .right-column {
    display: inline-block;
    width: 50%;
    float: right;
  }


  .chart-left {
    position: absolute;
    border: none;
    height: auto;
    width: auto;
    margin-top: 5px;
    display: none;
  }

  button {
    display: none !important;
  }

  .disclaimer {
    display: none;
  }
}
@media only screen and (max-device-width: 800px) {
    body {
        font-size: 10px;
    }

    .button-home {
        font-size: 1.5em;
        width: auto;
    }

    fieldset {
        border: none;
        margin-bottom: 20px;
        font-size: 1.3em;
    }


/* These are bandaid fixes; we will want to remove style tags in HTML pages*/



    #left {
        width: auto !important;
        height: auto !important;
        float: none !important;


    }
    #right {
        width: auto !important;
        height: auto !important;
        float: none !important;
    }

    button {
        font-size: 1.3em;

    }



    p {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1.25em;
    }
    h2 {
        margin-left: 20px;
        margin-right: 20px;
    }
    h3 {
        margin-left: 0px;
        margin-right: 0px;
    }
    .meter {
        height: 20px;

    }

    .instructions {
        font-size: 20px;
    }

    .message {
        font-size: 0.4em;
    }
    .container div {
        margin-right: 0;
        margin-left: 0;
    }
    .layout-one {
        font-size: 1.2em;
        width: 95px;
        height: 40px;
    }
    .layout-one:hover {
        height: 170px;
        margin-bottom: -170px;

    }
    .layout-one:hover ul {
         margin-left: -20px;
    }

    .menu {
        height: 50px;
    }

    div#stagethree a {
        padding-top: 5px;
    }

    .hamburger {
        display: inline-block;

    }
    .bar1, .bar2, .bar3 {
          width: 25px;
          height: 2px;
          background-color: white;
          margin: 5px 0;
          transition: 0.4s;
    }
    .change .bar1 {
      transform: translate(0, 7px) rotate(-45deg);
    }

    /* Fade out the second bar */
    .change .bar2 {opacity: 0;}

    /* Rotate last bar */
    .change .bar3 {
      transform: translate(0, -7px) rotate(45deg);
    }
    .menu li a {
    display: none;
    }
    .change .navbar-links {
        display: inline-block;


    }
    .change .navbar-links a {
        display: inline-block;

    }
    .show-navbar-links .hamburger .navbar-links {
        display: block;
        overflow: visible;

    }
    .menu li:hover .submenu2 {
      display: none;
      overflow: hidden;
}

    .chart-center {
        width: 100%;
    }

    .results {
        width: 100%;
    }
    .right-column {
        flex: 0;
    }
}