body {

  font-family: "Times New Roman", Times New Roman;
  color: #444;
  background-color: hsl(0, 0%, 98%);
  align: center;
}
/*
 * Formatting the header area
 background-color: hsl(0, 0%, 98%);
*/
header {
  width: 100%;
  text-align: center;
  text-transform: none;
  text-color: #444;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
  text-align: center:
}
/*
 * Centering the body content
 */
.container {
  width: 100%;

}
div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
    width: 10%;
  display: inline;

}
a {
  margin-top: 20px;
  left: 10px;
  bottom: 20px;
  text-align:center;

}
button {
  font-size: 1.1em;
  font-weight: 100;
  margin-top: 30px;
  margin-left: 65%;
  text-align: center;
  letter-spacing: 0px;
  position: relative;
  padding: 20px;

}
button: hover {
  background-color: #9FB59E;

}
h2 {
  font-size: 2.2em;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;

}
p {
  font-size: 1em;
  font-weight: 50;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: left;
  letter-spacing: 0px;
  color: #444;
}
span {
  margin-left: 200px;
  margin-right: 200px;
}

label {
    white-space: normal;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}



.menu {
  text-align: center;
  height: 45px;
  width: 100%;
  background-color: #0057B7;
  overflow: hidden;
  margin-top: auto;
  padding: 0;
}
.menu li {
  display: inline-block;
  position: relative;
  vertical-align: center;
  padding: 13px;

}
.menu li + li {
  margin-left: 35px;
}
.menu li a {

  text-decoration: none;
  color: white;
  font-size: 1.1em;



}
li a:hover {
text-decoration: underline;


}
.parent{
  text-align:center;
}

.button{
  width: 10%;
  bottom: 0px;
  text-align:center;

}
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Times New Roman;
  width: 100%;
  left: 0px;
  bottom: 500px;
  position: absolute;
}

.select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 10%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.your-div{
   vertical-align: bottom;
   display: table-cell;
   position: absolute;
}
.checkbox {
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;

  }

.instructions {
    text-align: center;
}
.chart {
    border: thin #c0c0c0 solid;
    padding: 5px;
    max-width: 220px;

    }

.symptom {
display: inline-block;
width:50%;
height:200px;

}

.typed {
  text-align: center;
  animation: typing;
  animation-duration: 0.5s;
  animation-timing-function: steps(30, end);

}


@keyframes typing {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

.unveiled {
  text-align: center;
  animation: unveil;
  animation-duration: 1s;
  animation-timing-function: steps(30, end);

}
@keyframes unveil {
  from { opacity: 0% }
  to { opacity: 100% }
}