<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"/>
<head>
    <meta charset="UTF-8">
    <title>About ME/CFS</title>
</head>


<body class="">
<header >
    <ul class="menu">
    <li >
    <a href="{{ url_for('home') }}">Home</a>
     </li>
  <li>
   <a href="{{ url_for('aboutmecfs')}}">About</a><ul class="submenu2">
      <li><a href="{{ url_for('aboutmecfs')}}">
          About ME/CFS</a></li>
      <li><a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/measures.aspx"
      target="_blank">
          About the DSQ</a></li>
      <li><a href="{{ url_for('about') }}">About This Screener</a></li>
    </ul>
  </li>
        <li > <a  href="{{ url_for('scores') }}">Account</a>
        <ul class="submenu">
      {% if session.logged_in %}
            <li><a href="{{ url_for('login') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
      <li><a href="{{ url_for('scores') }}">My Data</a></li>

    </ul></li>
 </ul>
</header>
<p>Myalgic Encephalomyelitis/Chronic Fatigue Syndrome (ME/CFS) is a long-lasting disease that affects the body's immune,
    neurological, and physical systems, causing a range of symptoms. The illness is usually triggered by a viral or
    flu-like infection. ME affects many different systems in the body, including the central nervous system,
    immune system, digestive system, and cardiovascular system.</p>
<p>There exist a variety of case definitions to assess ME/CFS, of which three are included in this screener. Because
there are no known biomarkers for this illness, it is assessed based on symptoms. The CDC states that the primary
    symptom of ME/CFS is post-exertional malaise (PEM), which is the worsening of ME/CFS symptoms after minimal
    physical, mental, or emotional effort. Additional symptoms include muscle weakness, fatigue, disrupted sleep,
    and either orthostatic intolerance or cognitive dysfunction. Orthostatic intolerance occurs when the
    autonomic nervous system does not function properly, causing symptoms to worsen when standing or sitting upright.
    Symptoms of orthostatic intolerance can include fainting, dizziness, weakness, blurred vision, postural orthostatic
    tachycardia (POTS), reduced heart rate variability at night, and sensitivity to both cold and heat. Other common
    symptoms of ME/CFS include muscle pain, nerve pain, stiffness in the neck and spine, and sensory issues such as
    sensitivity to light, sound, touch, skin tingling or numbness, hyperaesthesia (painful skin sensitivity), and
    allodynia (pain due to a stimulus that does not normally cause pain). </p>
<p>Learn more about ME/CFS at the DePaul University Center for Community Research website for ME/CFS:
<a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/media-links.aspx"
   target="_blank">ME/CFS Links</a></p>
</body>
</html>