<!DOCTYPE html>
<form method="post">
<div id="top" style="display: inline-block;width:100%;height:100">
    <p><i>For each question below, answer frequency and severity</i></p>
    <h2>Mentally tired after the slightest effort</h2>
</div>


<div  id="left" style="display: inline-block;width:40%;height:200px;float:left;">
    <ul style="">
        <a href="">
        <img src=""> </a> <br>



    <p>Frequency: How often have you experienced this symptom in the past 6 months?</p>
            <label>
              <input type="radio" name="mentalf" value="0"/>0. None of the time
            </label><br>
            <label>
              <input type="radio" name="mentalf" value="1"/>1. A little of the time
            </label><br>
            <label>
              <input type="radio" name="mentalf" value="2"/>2. About half the time
            </label>
            <br>
             <label>
              <input type="radio" name="mentalf" value="3"/>3. Most of the time
            </label><br>
            <label>
              <input type="radio" name="mentalf" value="4"/>4. All of the time
            </label><br><br> <br>

    </ul>

</div>



<div id="right" style="display:inline-block; width:45%; height:200px;float:right;">
   <ul style="">
        <a href="">
        <img src=""> </a> <br>


    <p>Severity: How much has this symptom bothered you in the past 6 months?</p>
            <label>
              <input type="radio" name="mentals" value="0"/>0. Symptom not present
            </label><br>
            <label>
              <input type="radio" name="mentals" value="1"/>1. Mild
            </label><br>
            <label>
              <input type="radio" name="mentals" value="2"/>2. Moderate
            </label>
            <br>
             <label>
              <input type="radio" name="mentals" value="3"/>3. Severe
            </label><br>
            <label>
              <input type="radio" name="mentals" value="4"/>4. Very severe
            </label><br><br> <br>
       <button type="submit" name="result" value="result">Next</button>

    </ul>
</div>



</form>