<!doctype html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"/>
<html>
<header>



 <ul class="menu">
  <li >
   <a href="{{ url_for('home') }}">Home</a>
  </li>
  <li>
   <a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Documents/DEPAUL%20SYMPTOM%20QUESTIONNAIRE%20with%20SF-36%20and%20MFI%20and%20SI%205-18-11.pdf"
   target="_blank">
    Full DSQ 1 (PDF)
   </a>
  </li>
  <li>
   <a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/media-links.aspx"
   target="_blank">
    More Information About ME/CFS
   </a>
  </li>
    <li >
   <a href="{{ url_for('about') }}">About This Screener</a>
  </li>
  <li>
 </ul>

</header>
 <body >
   <h3 style="font: Arial;">We estimate that your probability of having ME/CFS is<b> {{ probCFS }}%</b>, from a sample size of {{ sample_size }} from our dataset</h3><hr>
   <div class="container" style="align: center; z-index:100; position: relative; " >
        <div id="stageone" style="font: Ariel;" class="layout-one"><a><b>Screener ✓</b></a></div><span class="arrow right"></span>
       <div id="stagetwo" style="font: Ariel;" class="layout-one"><a href="{{ url_for('expem1') }}"><b>Short Form</b></a></div>
       <span class="arrow right"></span><div id="stagethree" style="font: Ariel;" class="layout-one"><a><b>Full Questionnaire</b></a></div>
    </div> <br>
<br>
    <div class="chart-left" >
  <figure id="chart"  ></figure>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>
</div>

   <div class="results" >

    <h3>Case Definition Assessments</h3><hr>
 <p> <b>{{ iom_msg }} </b></p><hr>
   <p><b>  {{ full_DSQ }}</b> </p> <hr>

   <p> </p>

  <button onclick="window.location.href='{{ url_for('expem1') }}'">
   <b>
    <a >Continue</a></b></button><br>
</div>


</body>

</html>