<!doctype html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"/>
<html>
<header>



 <ul class="menu">
  <li >
   <a href="{{ url_for('home') }}">Home</a>
  </li>
  <li>
   <a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Documents/DEPAUL%20SYMPTOM%20QUESTIONNAIRE%20with%20SF-36%20and%20MFI%20and%20SI%205-18-11.pdf"
   target="_blank">
    Full DSQ 1 (PDF)
   </a>
  </li>
  <li>
   <a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/media-links.aspx"
   target="_blank">
    More Information About ME/CFS
   </a>
  </li>
    <li >
   <a href="{{ url_for('about') }}">About This Screener</a>
  </li>
  <li>
 </ul>

</header>
 <body >
   <h3 class="ariel">Screener Results</h3>
   <hr>
   <div class="container" style="align: center; z-index:100; position: relative; " >
        <div id="stageone" style="font: Ariel;" class="layout-one"><a><b>Screener ✓</b></a>
        <ul><li>5 Questions</li><li>Estimates Probability of ME/CFS from your scores</li>
            <li>Assesses IOM 2015 Case Definition</li></ul></div><span class="arrow right"></span>
       <div id="stagetwo" style="font: Ariel;" class="layout-one"><a ><b>Short Form</b></a><ul><li>Optional</li>
           <li>10 more questions</li><li>Assesses CCC Case Definition</li></ul></div>
       <span class="arrow right"></span><div id="stagethree" style="font: Ariel;" class="layout-one"><a>
       <b>Full Questionnaire</b></a><ul><li>Optional</li><li>40 more questions</li>
       <li>Assesses IOM, Fukuda, CCC, and ME-ICC Case Definitions</li></ul></div>
    </div> <br>
<br>
    <div class="chart-left" >
  <figure id="chart"  ></figure>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>
</div>

<div class="results" >

    <h3>Institute of Medicine (IOM) Case Definition Assessment</h3><hr>
    <p> <b>{{ iom_msg }} </b></p><hr>
       <p> <b> IOM Requirements Satisfied: <br> </b></p>
    <ul ><li> <b>{% if iomfatiguecheck == '✓' %}{{ iomfatiguecheck }}{% else %}<u>&nbsp;&nbsp;&nbsp;</u>{% endif %}</b> Fatigue that persists at least 6 months and causes a substantial
   reduction in functioning </li><li> <b>{% if iompemcheck == '✓' %}{{ iompemcheck }}{% else %}<u>&nbsp;&nbsp;&nbsp;</u>{% endif %}</b> Post-exertional malaise (PEM) </li>
       <li> <b><u>{{ iomsleepcheck }} </u></b> Unrefreshing sleep </li> <li> <b><u>{{ iomcogcheck }} </u></b> Cognitive impairment </li></ul><hr>
<div>
<ul style="display: inline-block;"> <li style="display: inline-block;">
  <button style="white-space: nowrap; margin-right: 150px;" onclick="window.print();return false;" >
   <b>
    Print/Save PDF</b></button></li>
  <li style="display: inline-block; "><button onclick="window.location.href='{{ url_for('expem1') }}'">
   <b>
    Continue</b></button></li>
</ul>
</div>
</div>
<div style="display: inline-block;">

</div>
</body>

</html>