<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<header></header>
<body>
<h2>Welcome to the online screener for Myalgic Encephalomyelitis/Chronic Fatigue Syndrome (ME/CFS)</h2>
<p><h3><b></b></h3><hr><br>
<div class="div">
<p>This online screener is based on the DePaul Symptom Questionnaire (DSQ), a validated instrument for assessing
  ME/CFS Symptom burden.
    For more information, follow one of the links below.</p>
    <p><br>Disclaimer: This screener is for educational purposes only, and is not meant to provide medical diagnoses.</p>
    <form method="post">
    <label for="survey" style="  margin-left: 200px; margin-right: 200px;">Choose a screener option:</label>
  <select name="survey" id="survey" title =  "
(A) The Dynamic Screener option asks between 4 and 17 questions, adjusting the number of questions based
on your answers. It compares your answers with domain scores from a dataset of 3,000, and provides you the
proportion of ME/CFS participants with the same scores.

(B) The DSQ-Short Form is a validated version of the DSQ. It asks a smaller number of questions per domain,
while keeping the same number of domains as the full DSQ.">
    <option value="classic">(A) Dynamic Screener (4 to 17 questions)</option>
    <option value="rf14">(B) DSQ-Short Form (14 questions)</option>
    <!option value="rf4">(B) Random Forest: 4 Items<!/option>

  </select>

    <br>
      <br>
    <input type="checkbox" style="  margin-left: 200px; " id="checkbox" name="checkbox" value="data">
    <label for="checkbox" style="margin-right: 200px;" title="If you don't check this box, your answers will only be stored temporarily to give you
a result, then erased once you close this webpage. "> OPTIONAL: I agree to have my answers stored confidentially for analysis purposes.</label><br>
    <button class="button" type="submit" name="result" value="result" >Continue to screener</button>
  </form>
<a  style="display:inline-block; width:20%; float:center;"
   href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/measures.aspx"
  target="_blank">DePaul Symptom Questionnaire</a>

</div>
</body>
</html>