<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Welcome to the free online screener for Myalgic Encephalomyelitis/Chronic Fatigue Syndrome (ME/CFS)</h2>
<p><h3><b></b></h3><br>
<div class="div">
<p>The online screener is based on the DePaul Symptom Questionnaire (DSQ), a validated instrument for assessing
  ME/CFS Symptom burden. This screener utilizes a portion of the DSQ's items, and asks between 1 and 17 questions
to determine a predicted diagnosis. For more information, follow one of the links below.</p>
  <form method="post">
    <button class="button" type="submit" name="result" value="result" >Continue to screener</button>
  </form>
<a class="aboutt" style="display:inline-block; width:20%; float:center;"
   href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/measures.aspx"
  target="_blank">DePaul Symptom Questionnaire</a>
</div>
</body>
</html>