<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"/>



<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<header></header>

<body class="waterbackground">
    <div style="text-align: center; " >
        <h2>Welcome to the online screener for Myalgic Encephalomyelitis/Chronic Fatigue Syndrome (ME/CFS)</h2>
      <ul style="display: inline-block; text-align: center;"><li style="display: inline-block;"><h3 class="ariel">
          <i>Please enter your registration information or continue as guest</i></h3></li>
          <li style="display: inline-block;"><a class="question" title="
          Entering your login information will allow you to compare your responses across time">?</a></li></ul>
      <br>
      <form class="login" action="" method="post">
        <input class="login" type="text" placeholder="First name" name="firstname" value="{{
          request.form.firstname }}">
          <input class="login" type="text" placeholder="Last name" name="lastname" value="{{
          request.form.lastname }}">
         <input class="login" type="email" placeholder="Email" name="email" value="{{
          request.form.email }}"><br><br>
        <button style="margin: auto; " type="submit" name="result" value="login" >Login</button>
         <button style="margin: auto;" type="submit" name="result" value="guest" >{{ cont }}</button>
          <br><br>
           <ul style="display: inline-block; text-align: center;">
               <li style="display: inline-block;"><input type="checkbox" id="checkbox" name="checkbox" value="data" checked >
    <label for="checkbox"
           title="If you don't check this box, your answers will only be stored temporarily to give you
a result, then erased once you close this webpage. ">
        I agree to have my answers stored confidentially for analysis purposes.</label><br>
   </li><li style="display: inline-block;"><a class="question" title="If you don't check this box, your answers will only be stored temporarily to give you
a result, then erased once you close this webpage. ">?</a></li></ul>  </form>
        <div style="position: relative; bottom: 50px;">
      {% if error %}
        <p class="message"><strong>Error:</strong> {{ error }}
      {% endif %}
      {% if mesg %}
       <div style="text-align: center; box-sizing: border-box; margin: 0;"><p class="message">
            Successfully logged in! Please continue.
      {% endif %}
        </p>
        </div>
    </div>
</body>
</html>