<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"/>



<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<header></header>
<header>
<ul class="menu">
  <li >
   <a href="{{ url_for('home') }}">Home</a>
  </li>
  <li>
   <a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Documents/DEPAUL%20SYMPTOM%20QUESTIONNAIRE%20with%20SF-36%20and%20MFI%20and%20SI%205-18-11.pdf"
   target="_blank">
    Full DSQ 1 (PDF)
   </a>
  </li>
  <li>
   <a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/media-links.aspx"
   target="_blank">
    More Information About ME/CFS
   </a>
  </li>
    <li >
   <a href="{{ url_for('about') }}">About This Screener</a>
  </li>
  <li>
 </ul>
</header>
<body>
<hr>
<p>This screener is based on the DePaul Symptom Questionnaire, a validated instrument meant to assess
ME/CFS Symptomatology. <br><br>
    This online screener was created by Sage Benner at DePaul's Center for Community Research. To report technical issues or to
    provide design-related feedback, contact Sage at sage.benner@gmail.com.
</p>
</body>
</html>