<!DOCTYPE html>
<form method="post">
<div id="top" style="display: inline-block;width:100%;height:100">
    <p><i>For each question below, answer frequency and severity</i></p>
    <h2>Some smells, foods, medications, or chemicals make you feel sick</h2>
</div>

<div id="left" style="display: inline-block;width:40%;height:200px;float:left;">
    <ul style="">
        <a href="">
        <img src=""> </a> <br>



    <p>How often have you experienced this symptom in the past 6 months?</p>
            <label>
              <input type="radio" name="smellf" value="0"/>0. Not at all
            </label><br>
            <label>
              <input type="radio" name="smellf" value="1"/>1. A little of the time
            </label><br>
            <label>
              <input type="radio" name="smellf" value="2"/>2. Some of the time
            </label>
            <br>
             <label>
              <input type="radio" name="smellf" value="3"/>3. Most of the time
            </label><br>
            <label>
              <input type="radio" name="smellf" value="4"/>4. All of the time
            </label><br><br> <br>

    </ul>

</div>



<div id="right" style="display:inline-block; width:45%; height:200px;float:right;">
   <ul style="">
        <a href="">
        <img src=""> </a> </br>


    <p>How much has this symptom bothered you in the past 6 months?</p>
            <label>
              <input type="radio" name="smells" value="0"/>0. Symptom  not present
            </label><br>
            <label>
              <input type="radio" name="smells" value="1"/>1. Mild
            </label><br>
            <label>
              <input type="radio" name="smells" value="2"/>2. Moderate
            </label>
            <br>
             <label>
              <input type="radio" name="smells" value="3"/>3. Severe
            </label><br>
            <label>
              <input type="radio" name="smells" value="4"/>4. Very severe
            </label><br><br> <br>
   </ul>
    <button type="submit" name="bloat" value="bloat">Next</button>


</div>


</form>