<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"/>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>

<body>

<header >
    <ul class="menu">
    <li >
    <a href="{{ url_for('screener_views.home') }}">Home</a>
     </li>
  <li>
   <a href="{{ url_for('aboutmecfs')}}">About</a><ul class="submenu2">
      <li><a href="{{ url_for('aboutmecfs')}}">
          About ME/CFS</a></li>
      <li><a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/measures.aspx"
      target="_blank">
          About the DSQ</a></li>
      <li><a href="{{ url_for('about') }}">About This Screener</a></li>
    </ul>
  </li>
 </ul>
</header>
<hr>
<p>This screener is based on the DePaul Symptom Questionnaire, a validated instrument meant to assess
ME/CFS Symptomatology. <br><br>
    This online screener was created by Sage Benner at DePaul's Center for Community Research. To report technical issues or to
    provide design-related feedback, contact Sage at sage.benner@gmail.com.
</p>
</body>
</html>