{# boilerplate base template to be included in all templates #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block title %}
    <title>ME/CFS Online Screener</title>
    {% endblock %}

    <meta
      name="description"
      content="A self-guided assessment for ME/CFS (myalgic encephalomyelitis / chronic fatigue syndrome)."
    />
    <meta
      name="author"
      content="The Center for Community Research - Depaul University"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/fonts.css') }}"
    />
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
