<!DOCTYPE html>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"/>

<body>

<form method="post">
<div >
    <p class="instructions"><i>For each question below, please select <b>one number for frequency</b> and <b>one number for severity.</b>
    </i></p>
    <h3> {{ pagenum }}. Bloating</h3>
</div>

    <div id="left" style="display: inline-block;width:50%;height:200px;float:left;">
       <fieldset>
        <legend><b>Frequency: </b>Throughout the past 6 months, how often have you had this symptom?</legend>
        <ol start="0">
            <li>
                <input type="radio" id="f0" name="bloatf" value="0">
                <label for="f0">None of the time</label>
            </li>
            <li>
                <input type="radio" id="f1" name="bloatf" value="1">
                <label for="f1">A little of the time</label>
            </li>
            <li>
                <input type="radio" id="f2" name="bloatf" value="2">
                <label for="f2">About half the time</label>
            </li>
            <li>
                <input type="radio" id="f3" name="bloatf" value="3">
                <label for="f3">Most of the time</label>
            </li>
            <li>
                <input type="radio" id="f4" name="bloatf" value="4">
                <label for="f4">All of the time</label>
            </li>

        </ol>
    </fieldset>



</div>



<div id="right" style="display:inline-block; width:50%; height:200px;float:right;">
    <fieldset>
        <legend><b>Severity: </b>Throughout the past 6 months, how much has this symptom bothered you? </legend>
        <ol start="0">
            <li>
                <input type="radio" id="s0" name="bloats" value="0">
                <label for="s0">Symptom not present</label>
            </li>
            <li>
                <input type="radio" id="s1" name="bloats" value="1">
                <label for="s1">Mild</label>
            </li>
            <li>
                <input type="radio" id="s2" name="bloats" value="2">
                <label for="s2">Moderate</label>
            </li>
            <li>
                <input type="radio" id="s3" name="bloats" value="3">
                <label for="s3">Severe</label>
            </li>
            <li>
                <input type="radio" id="s4" name="bloats" value="4">
                <label for="s4">Very severe</label>
            </li>

        </ol>
    </fieldset>


</div>
       <button type="submit" name="result" value="result">Next</button>

</form>

<div class="container">
<p class="typed" > <i>{{ message }} </i></p>
</div>
<footer>
<div class="meter">
  <span class="meter2span" style="--start: 21%; width: 31%;" ></span>
</div>
</footer>
</body>
