{% extends 'base.html' %}

{% block content %}
<header>
  <ul class="menu">

    <li >
    <a href="{{ url_for('screener_views.home') }}">Home</a>
     </li>

        <li class="hamburger" >

            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <ul class="navbar-links">
            <li >
                <a href="{{ url_for('screener_views.home') }}">Home</a>
                </li>
           <li><a href="{{ url_for('aboutmecfs')}}">
          About ME/CFS</a></li>
            <li><a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/measures.aspx"
      target="_blank">
          About the DSQ</a></li>
      <li><a href="{{ url_for('about') }}">About This Screener</a></li>
        </ul></li>
  <li>
   <a href="{{ url_for('aboutmecfs')}}">About</a><ul class="submenu2">
      <li><a href="{{ url_for('aboutmecfs')}}">
          About ME/CFS</a></li>
      <li><a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/measures.aspx"
      target="_blank">
          About the DSQ</a></li>
      <li><a href="{{ url_for('about') }}">About This Screener</a></li>
    </ul>
  </li>


 </ul>
</header>
   <h3 class="ariel">Short Form Questionnaire Results</h3>
   <hr>
<div class="container" style="align: center;" >
        <div id="stageone" style="font: Ariel;" class="layout-one"><a><b>Screener</b></a>
        <ul><li>4 Questions</li>
            <li>Prompts you to continue to next step based on your scores</li></ul></div>
        <span class="arrow "></span><div id="stagetwo" style="font: Ariel;" class="layout-one"><a><b>Short Form</b></a>
        <ul><li>Optional</li><li>11 more questions</li><li>Assesses Two Case Definitions</li></ul></div>
       <span class="arrow "></span><div id="stagethree" style="font: Ariel;" class="layout-one"
                                        onclick="window.location.href='{{ url_for('viral') }}'"><a><b>Full Form</b></a>
        <ul><li>Optional</li><li>41 more questions</li><li>Reassesses Case Definitions</li></ul></div>
    </div> <br>

<div style="" class="results" >

        <h3 style="margin:0;">Institute of Medicine (IOM) Case Definition Assessment</h3><hr>
            <p><b>{{ iom_msg }} </b></p><hr>
                <p> <b>Case Definition Requirements Satisfied:  </b></p>
        <div class="symptoms">
            <div class="left-column">
                    <ul >
                        <li>Fatigue that persists at least 6 months </li>
                        <li>50% or more reduction in functioning</li>
                        <li>Post-exertional malaise (PEM) </li>
                        <li>Unrefreshing sleep </li>
                        <li>Cognitive impairment </li>
                        <li><b>Diagnosis:</b></li>

                    </ul>
            </div>
                    <div class="right-column">
                      <ul>
                        <li {% if iomfatiguecheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ iomfatiguecheck }}</li>
                        <li {% if iomreductioncheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ iomreductioncheck }}</li>
                        <li {% if iompemcheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ iompemcheck }}</li>
                        <li {% if iomsleepcheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ iomsleepcheck }}</li>
                        <li {% if iomcogcheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ iomcogcheck }}</li>
                        <li><b>{{ iomdxcheck }}</b></li>
                      </ul>
                    </div>
    </div>
</div>


<div style="" class="results" >

        <h3 style="margin:0;">Canadian 2003 ME/CFS Case Definition</h3><hr>
            <p><b>{{ ccc_msg }} </b></p><hr>
                <p> <b>Case Definition Requirements Satisfied:  </b></p>
        <div class="symptoms">
            <div class="left-column">
                    <ul >
                        <li>Fatigue that persists at least 6 months </li>
                        <li>50% or more reduction in functioning</li>
                        <li>Post-exertional malaise (PEM) </li>
                        <li>Sleep Problems</li>
                        <li>Pain</li>
                        <li>Neurocognitive Issues</li>
                        <li>Autonomic Dysfunction</li>
                        <li>Neuroendocrine Issues</li>
                        <li>Immune Symptoms</li>
                        <li><b>Diagnosis:</b></li>

                    </ul>
            </div>
                    <div class="right-column">
                      <ul>
                        <li {% if ccc_fatiguecheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ ccc_fatiguecheck }}</li>
                        <li {% if ccc_reduction == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ ccc_reduction }}</li>
                        <li {% if ccc_pemcheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ ccc_pemcheck }}</li>
                        <li {% if ccc_sleepcheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ ccc_sleepcheck }}</li>
                        <li {% if ccc_paincheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ ccc_paincheck }}</li>
                        <li {% if ccc_cogcheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ ccc_cogcheck }}</li>
                        <li {% if ccc_autocheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ ccc_autocheck }}</li>
                        <li {% if ccc_neurocheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ ccc_neurocheck }}</li>
                        <li {% if ccc_immunecheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ ccc_immunecheck }}</li>
                        <li><b>{{ ccc_dx }}</b></li>
                      </ul>
                    </div>
    </div>
</div>

<div class="container">
     <div class="chart-center" style="">
         <figure id="chart"  ></figure>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
          var graphs = {{graphJSON | safe}};
          Plotly.plot('chart',graphs,{});
            </script>
    </div>
</div>

<div class="two-buttons">
<ul style="display: inline-block;"> <li style="display: inline-block;">
  <button style="" onclick="window.print();return false;" >
   <b>
    Print/Save PDF</b></button></li>
  <li style="display: inline-block; "><button onclick="window.location.href='{{ url_for('viral') }}'">
   <b>
    Continue</b></button></li>
</ul>
</div>
<script>
const hamburger = document.querySelector('.hamburger');
const navbarLinks = document.querySelector('.navbar-links');

hamburger.addEventListener('click', () => {
  hamburger.classList.toggle('show-navbar-links');
  hamburger.classList.toggle('change');
});

</script>
{% endblock %}
