<!DOCTYPE html>
<html lang="en">
<!doctype html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"/>

 <body >


<header >
    <ul class="menu">
    <li >
    <a href="{{ url_for('screener_views.home') }}">Home</a>
     </li>
  <li>
   <a href="{{ url_for('aboutmecfs')}}">About</a><ul class="submenu2">
      <li><a href="{{ url_for('aboutmecfs')}}">
          About ME/CFS</a></li>
      <li><a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/measures.aspx"
      target="_blank">
          About the DSQ</a></li>
      <li><a href="{{ url_for('about') }}">About This Screener</a></li>
    </ul>
  </li>
 </ul>
</header>
 <h3 class="ariel">Full Questionnaire Results</h3>
   <hr>
      <div class="container" style="align: center; z-index:100; position: relative; " >
        <div id="stageone" style="font: Ariel;" class="layout-one"><a><b>Screener <u>✓</u></b></a>
        <ul><li>5 Questions</li><li>Estimates Probability of ME/CFS from your scores</li>
            <li>Assesses IOM 2015 Case Definition</li></ul></div><span class="arrow right"></span>
       <div id="stagetwo" style="font: Ariel;" class="layout-one"><a ><b>Short Form <u>✓</u></b></a><ul><li>Optional</li>
           <li>10 more questions</li><li>Assesses CCC Case Definition</li></ul></div>
       <span class="arrow right"></span><div id="stagethree" style="font: Ariel;" class="layout-one"><a>
       <b>Full Questionnaire <u>✓</u></b></a><ul><li>Optional</li><li>40 more questions</li>
       <li>Assesses ME-ICC Case Definition</li></ul></div>
    </div> <br>


<div style="" class="results" >

        <h3 style="margin:0;">ME-ICC Assessment</h3><hr>
            <p><b>{{ me_icc }} </b></p><hr>
                <p> <b>Case Definition Requirements Satisfied:  </b></p>
        <div class="symptoms">
            <div class="left-column">
                    <ul >
                        <li>Post-Exertional Malaise (PEM) </li>
                        <li><i>One symptom in at least three of the following categories:</i></li>
                        <li>Neurocognitive impairments </li>
                        <li>Pain</li>
                        <li>Sleep disturbance</li>
                        <li>Neurosensory, perceptual and motor disturbances</li>
                        <li><i>One symptom in at least three of the following categories:</i></li>
                        <li>Flu-like symptoms</li>
                        <li>Susceptibility to viral infections with prolonged recovery periods</li>
                        <li>Gastro-intestinal tract disturbances</li>
                        <li>Geniourinary disturbances</li>
                        <li>Sensitivities to food, medications, odors, or chemicals</li>
                        <li><i>At least one symptom from the following categories:</i></li>
                        <li>Cardiovascular</li>
                        <li>Respiratory</li>
                        <li>Loss of thermostatic stability</li>
                        <li>Intolerance of extremes of temperature</li>
                        <li><b>Diagnosis:</b></li>

                    </ul>
            </div>
                    <div class="right-column">
                      <ul>
                        <li {% if meicc_pemcheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ meicc_pemcheck }}</li>
                        <li></li>
                        <li {% if meicc_cogcheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ meicc_cogcheck }}</li>
                        <li {% if meicc_paincheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ meicc_paincheck }}</li>
                        <li {% if meicc_sleepcheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ meicc_sleepcheck }}</li>
                        <li {% if meicc_motorcheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ meicc_motorcheck }}</li>
                        <li></li>
                        <li {% if meicc_flucheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ meicc_flucheck }}</li>
                        <li {% if meicc_viralcheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ meicc_viralcheck }}</li>
                        <li {% if meicc_gastrocheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ meicc_gastrocheck }}</li>
                        <li {% if meicc_bladdercheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ meicc_bladdercheck }}</li>
                        <li {% if meicc_sensitivitycheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ meicc_sensitivitycheck }}</li>
                        <li><i></i></li>
                        <li {% if meicc_cardiocheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ meicc_cardiocheck }}</li>
                        <li {% if meicc_respiratorycheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ meicc_respiratorycheck }}</li>
                        <li {% if meicc_thermocheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ meicc_thermocheck }}</li>
                        <li {% if meicc_tempcheck == 'Yes' %} style="background-color: #FFD580;" {% endif %}>{{ meicc_tempcheck }}</li>
                        <li><b>{{ meicc_dxcheck }}</b></li>
                      </ul>
                    </div>
    </div>
</div>


    <div class="chart-center" >
  <figure id="chart"  ></figure>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>
</div>

<div class="results" style="display: none;">

    <h3 style="margin: 0;">ME-ICC Assessment</h3><hr>
    <p> <b>{{ me_icc }} </b></p><hr>
       <p> <b> ME-ICC Requirements Satisfied: <br> </b></p><ul style="list-style-type: none;">
    <li> <b><u>{{ meicc_pemcheck }} </u> </b> (A) Post-Exertional Malaise (PEM)</li>
    <li><br><b> (B) One symptom in at least three of the following categories:</b> <br>
        <ol>
        <li> <b><u>{{meicc_cogcheck}}</u></b> Neurocognitive Impairments </li>
        <li> <b><u>{{meicc_paincheck}}</u></b> Pain </li>
        <li> <b><u>{{meicc_sleepcheck}}</u></b> Sleep disturbance </li>
        <li> <b><u>{{meicc_motorcheck}}</u></b> Neurosensory, perceptual and motor disturbances </li>
    </ol></li>
        <li><br><b> (C) One symptom in at least three of the following categories:</b> <br>
        <ol>
        <li> <b><u>{{meicc_flucheck}}</u></b> Flu-like symptoms </li>
        <li> <b><u>{{meicc_viralcheck}}</u></b> Susceptibility to viral infections with prolonged recovery periods </li>
        <li> <b><u>{{meicc_gastrocheck}}</u></b> Gastro-intestinal tract disturbances </li>
        <li> <b><u>{{meicc_bladdercheck}}</u></b> Genitourinary disturbances </li>
        <li> <b><u>{{meicc_sensitivitycheck}}</u></b> Sensitivities to food, medications, odors, or chemicals </li>
    </ol></li>
        <li><br><b> (D) At least one symptom from the following categories:</b> <br>
        <ol>
        <li> <b><u>{{meicc_cardiocheck}}</u></b> Cardiovascular </li>
        <li> <b><u>{{meicc_respiratorycheck}}</u></b> Respiratory </li>
        <li> <b><u>{{meicc_thermocheck}}</u></b> Loss of thermostatic stability </li>
        <li> <b><u>{{meicc_tempcheck}}</u></b> Intolerance of extremes of temperature </li>
    </ol></li>

   </ul><hr>

    <p><i>Note: this is not a medical diagnosis. We advise you to consult with your physician or seek an ME/CFS specialist
if you think you may be suffering from ME/CFS.</i></p>
</div>
<div>
<ul style="display: inline-block;"> <li style="display: inline-block;">
  <button style="white-space: nowrap; margin-right: 150px;" onclick="window.print();return false;" >
   <b>
    Print/Save PDF</b></button></li>

</ul>
</div>
</body>

</html>