{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}


{% block content %}

<header >
    <ul class="menu">

    <li >
    <a href="{{ url_for('screener_views.home') }}">Home</a>
     </li>

        <li class="hamburger" onclick="myFunction(this)">

            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <ul class="navbar-links">
            <li >
                <a href="{{ url_for('screener_views.home') }}">Home</a>
                </li>
           <li><a href="{{ url_for('aboutmecfs')}}">
          About ME/CFS</a></li>
            <li><a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/measures.aspx"
      target="_blank">
          About the DSQ</a></li>
      <li><a href="{{ url_for('about') }}">About This Screener</a></li>
        </ul></li>
  <li>
   <a href="{{ url_for('aboutmecfs')}}">About</a><ul class="submenu2">
      <li><a href="{{ url_for('aboutmecfs')}}">
          About ME/CFS</a></li>
      <li><a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/measures.aspx"
      target="_blank">
          About the DSQ</a></li>
      <li><a href="{{ url_for('about') }}">About This Screener</a></li>
    </ul>
  </li>


 </ul>
</header>
<h2>
  Welcome to the online screener for Chronic Fatigue Syndrome (CFS) and Myalgic
  Encephalomyelitis (ME)
</h2>
<p></p>
<h3></h3>
<hr />
<br />
<div class="div">
        <div class="container" style="align: center;" >
        <div id="stageone" style="font: Ariel;" class="layout-one"><a><b>Screener</b></a>
        <ul><li>4 Questions</li>
            <li>Prompts you to continue to next step based on your scores</li></ul></div>
        <span class="arrow "></span><div id="stagetwo" style="font: Ariel;" class="layout-one"><a><b>Short Form</b></a>
        <ul><li>Optional</li><li>11 more questions</li><li>Assesses IOM and CCC Case Definitions</li></ul></div>
       <span class="arrow "></span><div id="stagethree" style="font: Ariel;" class="layout-one"><a><b>Full Questionnaire</b></a>
        <ul><li>Optional</li><li>41 more questions</li><li>Assesses CCC Case Definition</li></ul></div>
    </div><br>
    <div style="font-family: 'Arial', Helvetica, sans-serif;">
<p>This online screener is based on the DePaul Symptom Questionnaire (DSQ), a validated instrument for assessing
  ME/CFS Symptom burden. <br> <br> The initial screener asks 4 questions. It compares your answers with a minimum threshold,
    and prompts you to continue to subsequent sections on the basis of your scores.
    For more information, follow one of the links above in the about menu.</p><br>
       <p>Disclaimer: This screener is not meant to provide medical diagnoses. Please consult with your physician for diagnostic concerns.</p>
</div>




  <form method="post">
    <!--
    <!label for="survey" style="  margin-left: 200px; margin-right: 200px;"><!/label>
  <!select name="survey" id="survey" title =  "
(A) The Dynamic Screener option asks between 4 and 17 questions, adjusting the number of questions based
on your answers. It compares your answers with domain scores from a dataset of 3,000, and provides you the
proportion of ME/CFS participants with the same scores.

(B) The DSQ-Short Form is a validated version of the DSQ. It asks a smaller number of questions per domain,
while keeping the same number of domains as the full DSQ.">
    <!option value="classic">(A) Dynamic Screener (4 to 15 questions)<!/option>
    <!option value="rf14">(B) DSQ-Short Form (14 questions)<!/option>
    <!option value="rf4">(B) Random Forest: 4 Items<!/option>

  <!/select>
//-->
    <br />
    <br />
    <div class="container">
      <button class="button-home" type="submit" name="result" value="result">
        Begin screener
      </button>
    </div>
  </form>
  <!a  style="display:inline-block; width:20%; float:center;"
   href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/measures.aspx"
  target="_blank"><!/a>
</div>

{% endblock %}

<script>
function myFunction(x) {
  x.classList.toggle("change");
}

      const hamburger = document.querySelector('.hamburger');
      const navbarLinks = document.querySelector('.navbar-links');

      hamburger.addEventListener('click', () => {
        navbarLinks.classList.toggle('show-navbar-links');
      });
</script>
</body>
</html>

