<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"/>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scores</title>
</head>
<body>
<header >
    <ul class="menu">
    <li >
    <a href="{{ url_for('home') }}">Home</a>
     </li>
  <li>
   <a href="{{ url_for('aboutmecfs')}}">About</a><ul class="submenu2">
      <li><a href="{{ url_for('aboutmecfs')}}">
          About ME/CFS</a></li>
      <li><a href="https://csh.depaul.edu/about/centers-and-institutes/ccr/myalgic-encephalomyelitis-cfs/Pages/measures.aspx"
      target="_blank">
          About the DSQ</a></li>
      <li><a href="{{ url_for('about') }}">About This Screener</a></li>
    </ul>
  </li>
        <li > <a  href="{{ url_for('scores') }}">Account</a>
        <ul class="submenu">
      {% if session.logged_in %}
            <li><a href="{{ url_for('login') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
      <li><a href="{{ url_for('scores') }}">My Data</a></li>

    </ul></li>
 </ul>
</header>
<h2>Welcome, {{ name }}</h2><hr>
<h3 class="ariel">{{ user_message }}</h3>

<p></p>
    <div class="" >
  <figure id="chart"  ></figure>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>
</div>
</body>
</html>