<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"/>
<body>

<form method="post">
    <div >
    <p class="instructions"><i>For each question below, please select <b>one number for frequency</b> and <b>one number for severity.</b>
    </i></p>
    <h3>6. Next day soreness or fatigue after non-strenuous everyday activities</h3>
</div>

<div style="display: inline-block;width:50%;height:200px;float:left;">
       <fieldset>
        <legend><b>Frequency: </b>Throughout the past 6 months, how often have you had this symptom?</legend>
        <ol start="0">
            <li>
                <input type="radio" id="fa0" name="soref" value="0">
                <label for="fa0">None of the time</label>
            </li>
            <li>
                <input type="radio" id="fa1" name="soref" value="1">
                <label for="fa1">A little of the time</label>
            </li>
            <li>
                <input type="radio" id="fa2" name="soref" value="2">
                <label for="fa2">About half the time</label>
            </li>
            <li>
                <input type="radio" id="fa3" name="soref" value="3">
                <label for="fa3">Most of the time</label>
            </li>
            <li>
                <input type="radio" id="fa4" name="soref" value="4">
                <label for="fa4">All of the time</label>
            </li>

        </ol>
    </fieldset>



</div>



<div style="display:inline-block; width:50%; height:200px;float:right;">
    <fieldset>
        <legend><b>Severity: </b>Throughout the past 6 months, how much has this symptom bothered you? </legend>
        <ol start="0">
            <li>
                <input type="radio" id="sa0" name="sores" value="0">
                <label for="sa0">Symptom not present</label>
            </li>
            <li>
                <input type="radio" id="sa1" name="sores" value="1">
                <label for="sa1">Mild</label>
            </li>
            <li>
                <input type="radio" id="sa2" name="sores" value="2">
                <label for="sa2">Moderate</label>
            </li>
            <li>
                <input type="radio" id="sa3" name="sores" value="3">
                <label for="sa3">Severe</label>
            </li>
            <li>
                <input type="radio" id="sa4" name="sores" value="4">
                <label for="sa4">Very severe</label>
            </li>

        </ol>
    </fieldset>




</div>

     <h3>7. Difficulty paying attention</h3>


    <div  style="display: inline-block;width:50%;height:200px;float:left;">
       <fieldset>
        <legend><b>Frequency: </b>Throughout the past 6 months, how often have you had this symptom?</legend>
        <ol start="0">
            <li>
                <input type="radio" id="fb0" name="attentionf" value="0">
                <label for="fb0">None of the time</label>
            </li>
            <li>
                <input type="radio" id="fb1" name="attentionf" value="1">
                <label for="fb1">A little of the time</label>
            </li>
            <li>
                <input type="radio" id="fb2" name="attentionf" value="2">
                <label for="fb2">About half the time</label>
            </li>
            <li>
                <input type="radio" id="fb3" name="attentionf" value="3">
                <label for="fb3">Most of the time</label>
            </li>
            <li>
                <input type="radio" id="fb4" name="attentionf" value="4">
                <label for="fb4">All of the time</label>
            </li>

        </ol>
    </fieldset>



</div>



<div  style="display:inline-block; width:50%; height:200px;float:right;">
    <fieldset>
        <legend><b>Severity: </b>Throughout the past 6 months, how much has this symptom bothered you? </legend>
        <ol start="0">
            <li>
                <input type="radio" id="sb0" name="attentions" value="0">
                <label for="sb0">Symptom not present</label>
            </li>
            <li>
                <input type="radio" id="sb1" name="attentions" value="1">
                <label for="sb1">Mild</label>
            </li>
            <li>
                <input type="radio" id="sb2" name="attentions" value="2">
                <label for="sb2">Moderate</label>
            </li>
            <li>
                <input type="radio" id="sb3" name="attentions" value="3">
                <label for="sb3">Severe</label>
            </li>
            <li>
                <input type="radio" id="sb4" name="attentions" value="4">
                <label for="sb4">Very severe</label>
            </li>

        </ol>
    </fieldset>


</div>

     <h3>8. Pain or aching in your muscles</h3>


    <div style="display: inline-block;width:50%;height:200px;float:left;">
       <fieldset>
        <legend><b>Frequency: </b>Throughout the past 6 months, how often have you had this symptom?</legend>
        <ol start="0">
            <li>
                <input type="radio" id="fc0" name="musclef" value="0">
                <label for="fc0">None of the time</label>
            </li>
            <li>
                <input type="radio" id="fc1" name="musclef" value="1">
                <label for="fc1">A little of the time</label>
            </li>
            <li>
                <input type="radio" id="fc2" name="musclef" value="2">
                <label for="fc2">About half the time</label>
            </li>
            <li>
                <input type="radio" id="fc3" name="musclef" value="3">
                <label for="fc3">Most of the time</label>
            </li>
            <li>
                <input type="radio" id="fc4" name="musclef" value="4">
                <label for="fc4">All of the time</label>
            </li>

        </ol>
    </fieldset>



</div>



<div  style="display:inline-block; width:50%; height:200px;float:right;">
    <fieldset>
        <legend><b>Severity: </b>Throughout the past 6 months, how much has this symptom bothered you? </legend>
        <ol start="0">
            <li>
                <input type="radio" id="sc0" name="muscles" value="0">
                <label for="sc0">Symptom not present</label>
            </li>
            <li>
                <input type="radio" id="sc1" name="muscles" value="1">
                <label for="sc1">Mild</label>
            </li>
            <li>
                <input type="radio" id="sc2" name="muscles" value="2">
                <label for="sc2">Moderate</label>
            </li>
            <li>
                <input type="radio" id="sc3" name="muscles" value="3">
                <label for="sc3">Severe</label>
            </li>
            <li>
                <input type="radio" id="sc4" name="muscles" value="4">
                <label for="sc4">Very severe</label>
            </li>

        </ol>
    </fieldset>


</div>

    <h3>9. Bloating</h3>

    <div  style="display: inline-block;width:50%;height:200px;float:left;">
       <fieldset>
        <legend><b>Frequency: </b>Throughout the past 6 months, how often have you had this symptom?</legend>
        <ol start="0">
            <li>
                <input type="radio" id="fd0" name="bloatf" value="0">
                <label for="fd0">None of the time</label>
            </li>
            <li>
                <input type="radio" id="fd1" name="bloatf" value="1">
                <label for="fd1">A little of the time</label>
            </li>
            <li>
                <input type="radio" id="fd2" name="bloatf" value="2">
                <label for="fd2">About half the time</label>
            </li>
            <li>
                <input type="radio" id="fd3" name="bloatf" value="3">
                <label for="fd3">Most of the time</label>
            </li>
            <li>
                <input type="radio" id="fd4" name="bloatf" value="4">
                <label for="fd4">All of the time</label>
            </li>

        </ol>
    </fieldset>



</div>



<div  style="display:inline-block; width:50%; height:200px;float:right;">
    <fieldset>
        <legend><b>Severity: </b>Throughout the past 6 months, how much has this symptom bothered you? </legend>
        <ol start="0">
            <li>
                <input type="radio" id="sd0" name="bloats" value="0">
                <label for="sd0">Symptom not present</label>
            </li>
            <li>
                <input type="radio" id="sd1" name="bloats" value="1">
                <label for="sd1">Mild</label>
            </li>
            <li>
                <input type="radio" id="sd2" name="bloats" value="2">
                <label for="sd2">Moderate</label>
            </li>
            <li>
                <input type="radio" id="sd3" name="bloats" value="3">
                <label for="sd3">Severe</label>
            </li>
            <li>
                <input type="radio" id="sd4" name="bloats" value="4">
                <label for="sd4">Very severe</label>
            </li>

        </ol>
    </fieldset>


</div>

     <h3>10. Irritable bowel problems</h3>


    <div  style="display: inline-block;width:50%;height:200px;float:left;">
       <fieldset>
        <legend><b>Frequency: </b>Throughout the past 6 months, how often have you had this symptom?</legend>
        <ol start="0">
            <li>
                <input type="radio" id="fe0" name="bowelf" value="0">
                <label for="fe0">None of the time</label>
            </li>
            <li>
                <input type="radio" id="fe1" name="bowelf" value="1">
                <label for="fe1">A little of the time</label>
            </li>
            <li>
                <input type="radio" id="fe2" name="bowelf" value="2">
                <label for="fe2">About half the time</label>
            </li>
            <li>
                <input type="radio" id="fe3" name="bowelf" value="3">
                <label for="fe3">Most of the time</label>
            </li>
            <li>
                <input type="radio" id="fe4" name="bowelf" value="4">
                <label for="fe4">All of the time</label>
            </li>

        </ol>
    </fieldset>



</div>



<div  style="display:inline-block; width:50%; height:200px;float:right;">
    <fieldset>
        <legend><b>Severity: </b>Throughout the past 6 months, how much has this symptom bothered you? </legend>
        <ol start="0">
            <li>
                <input type="radio" id="se0" name="bowels" value="0">
                <label for="se0">Symptom not present</label>
            </li>
            <li>
                <input type="radio" id="se1" name="bowels" value="1">
                <label for="se1">Mild</label>
            </li>
            <li>
                <input type="radio" id="se2" name="bowels" value="2">
                <label for="se2">Moderate</label>
            </li>
            <li>
                <input type="radio" id="se3" name="bowels" value="3">
                <label for="se3">Severe</label>
            </li>
            <li>
                <input type="radio" id="se4" name="bowels" value="4">
                <label for="se4">Very severe</label>
            </li>

        </ol>
    </fieldset>

</div>

     <h3>11. Feeling unsteady on your feet, like you might fall</h3>

    <div  style="display: inline-block;width:50%;height:200px;float:left;">
       <fieldset>
        <legend><b>Frequency: </b>Throughout the past 6 months, how often have you had this symptom?</legend>
        <ol start="0">
            <li>
                <input type="radio" id="ff0" name="unsteadyf" value="0">
                <label for="ff0">None of the time</label>
            </li>
            <li>
                <input type="radio" id="ff1" name="unsteadyf" value="1">
                <label for="ff1">A little of the time</label>
            </li>
            <li>
                <input type="radio" id="ff2" name="unsteadyf" value="2">
                <label for="ff2">About half the time</label>
            </li>
            <li>
                <input type="radio" id="ff3" name="unsteadyf" value="3">
                <label for="ff3">Most of the time</label>
            </li>
            <li>
                <input type="radio" id="ff4" name="unsteadyf" value="4">
                <label for="ff4">All of the time</label>
            </li>

        </ol>
    </fieldset>



</div>



<div  style="display:inline-block; width:50%; height:200px;float:right;">
    <fieldset>
        <legend><b>Severity: </b>Throughout the past 6 months, how much has this symptom bothered you? </legend>
        <ol start="0">
            <li>
                <input type="radio" id="sf0" name="unsteadys" value="0">
                <label for="sf0">Symptom not present</label>
            </li>
            <li>
                <input type="radio" id="sf1" name="unsteadys" value="1">
                <label for="sf1">Mild</label>
            </li>
            <li>
                <input type="radio" id="sf2" name="unsteadys" value="2">
                <label for="sf2">Moderate</label>
            </li>
            <li>
                <input type="radio" id="sf3" name="unsteadys" value="3">
                <label for="sf3">Severe</label>
            </li>
            <li>
                <input type="radio" id="sf4" name="unsteadys" value="4">
                <label for="sf4">Very severe</label>
            </li>

        </ol>
    </fieldset>

</div>

     <h3>12. Cold limbs (e.g., arms, legs, hands)</h3>

    <div  style="display: inline-block;width:50%;height:200px;float:left;">
       <fieldset>
        <legend><b>Frequency: </b>Throughout the past 6 months, how often have you had this symptom?</legend>
        <ol start="0">
            <li>
                <input type="radio" id="fg0" name="limbsf" value="0">
                <label for="fg0">None of the time</label>
            </li>
            <li>
                <input type="radio" id="fg1" name="limbsf" value="1">
                <label for="fg1">A little of the time</label>
            </li>
            <li>
                <input type="radio" id="fg2" name="limbsf" value="2">
                <label for="fg2">About half the time</label>
            </li>
            <li>
                <input type="radio" id="fg3" name="limbsf" value="3">
                <label for="fg3">Most of the time</label>
            </li>
            <li>
                <input type="radio" id="fg4" name="limbsf" value="4">
                <label for="fg4">All of the time</label>
            </li>

        </ol>
    </fieldset>



</div>



<div  style="display:inline-block; width:50%; height:200px;float:right;">
    <fieldset>
        <legend><b>Severity: </b>Throughout the past 6 months, how much has this symptom bothered you? </legend>
        <ol start="0">
            <li>
                <input type="radio" id="sg0" name="limbss" value="0">
                <label for="sg0">Symptom not present</label>
            </li>
            <li>
                <input type="radio" id="sg1" name="limbss" value="1">
                <label for="sg1">Mild</label>
            </li>
            <li>
                <input type="radio" id="sg2" name="limbss" value="2">
                <label for="sg2">Moderate</label>
            </li>
            <li>
                <input type="radio" id="sg3" name="limbss" value="3">
                <label for="sg3">Severe</label>
            </li>
            <li>
                <input type="radio" id="sg4" name="limbss" value="4">
                <label for="sg4">Very severe</label>
            </li>

        </ol>
    </fieldset>


</div>

    <h3>13. Feeling hot or cold for no reason</h3>

    <div style="display: inline-block;width:50%;height:200px;float:left;">
       <fieldset>
        <legend><b>Frequency: </b>Throughout the past 6 months, how often have you had this symptom?</legend>
        <ol start="0">
            <li>
                <input type="radio" id="fh0" name="hotf" value="0">
                <label for="fh0">None of the time</label>
            </li>
            <li>
                <input type="radio" id="fh1" name="hotf" value="1">
                <label for="fh1">A little of the time</label>
            </li>
            <li>
                <input type="radio" id="fh2" name="hotf" value="2">
                <label for="fh2">About half the time</label>
            </li>
            <li>
                <input type="radio" id="fh3" name="hotf" value="3">
                <label for="fh3">Most of the time</label>
            </li>
            <li>
                <input type="radio" id="fh4" name="hotf" value="4">
                <label for="fh4">All of the time</label>
            </li>

        </ol>
    </fieldset>



</div>



<div  style="display:inline-block; width:50%; height:200px;float:right;">
    <fieldset>
        <legend><b>Severity: </b>Throughout the past 6 months, how much has this symptom bothered you? </legend>
        <ol start="0">
            <li>
                <input type="radio" id="sh0" name="hots" value="0">
                <label for="sh0">Symptom not present</label>
            </li>
            <li>
                <input type="radio" id="sh1" name="hots" value="1">
                <label for="sh1">Mild</label>
            </li>
            <li>
                <input type="radio" id="sh2" name="hots" value="2">
                <label for="sh2">Moderate</label>
            </li>
            <li>
                <input type="radio" id="sh3" name="hots" value="3">
                <label for="sh3">Severe</label>
            </li>
            <li>
                <input type="radio" id="sh4" name="hots" value="4">
                <label for="sh4">Very severe</label>
            </li>

        </ol>
    </fieldset>


</div>

    <h3>14. Flu-like symptoms</h3>

    <div  style="display: inline-block;width:50%;height:200px;float:left;">
       <fieldset>
        <legend><b>Frequency: </b>Throughout the past 6 months, how often have you had this symptom?</legend>
        <ol start="0">
            <li>
                <input type="radio" id="fi0" name="fluf" value="0">
                <label for="fi0">None of the time</label>
            </li>
            <li>
                <input type="radio" id="fi1" name="fluf" value="1">
                <label for="fi1">A little of the time</label>
            </li>
            <li>
                <input type="radio" id="fi2" name="fluf" value="2">
                <label for="fi2">About half the time</label>
            </li>
            <li>
                <input type="radio" id="fi3" name="fluf" value="3">
                <label for="fi3">Most of the time</label>
            </li>
            <li>
                <input type="radio" id="fi4" name="fluf" value="4">
                <label for="fi4">All of the time</label>
            </li>

        </ol>
    </fieldset>



</div>



<div  style="display:inline-block; width:50%; height:200px;float:right;">
    <fieldset>
        <legend><b>Severity: </b>Throughout the past 6 months, how much has this symptom bothered you? </legend>
        <ol start="0">
            <li>
                <input type="radio" id="si0" name="flus" value="0">
                <label for="si0">Symptom not present</label>
            </li>
            <li>
                <input type="radio" id="si1" name="flus" value="1">
                <label for="si1">Mild</label>
            </li>
            <li>
                <input type="radio" id="si2" name="flus" value="2">
                <label for="si2">Moderate</label>
            </li>
            <li>
                <input type="radio" id="si3" name="flus" value="3">
                <label for="si3">Severe</label>
            </li>
            <li>
                <input type="radio" id="si4" name="flus" value="4">
                <label for="si4">Very severe</label>
            </li>

        </ol>
    </fieldset>


</div>

    <h3>14. Some smells, foods, medications, or chemicals make you feel sick</h3>

    <div  style="display: inline-block;width:50%;height:200px;float:left;">
       <fieldset>
        <legend><b>Frequency: </b>Throughout the past 6 months, how often have you had this symptom?</legend>
        <ol start="0">
            <li>
                <input type="radio" id="fj0" name="smellf" value="0">
                <label for="fj0">None of the time</label>
            </li>
            <li>
                <input type="radio" id="fj1" name="smellf" value="1">
                <label for="fj1">A little of the time</label>
            </li>
            <li>
                <input type="radio" id="fj2" name="smellf" value="2">
                <label for="fj2">About half the time</label>
            </li>
            <li>
                <input type="radio" id="fj3" name="smellf" value="3">
                <label for="fj3">Most of the time</label>
            </li>
            <li>
                <input type="radio" id="fj4" name="smellf" value="4">
                <label for="fj4">All of the time</label>
            </li>

        </ol>
    </fieldset>



</div>



<div  style="display:inline-block; width:50%; height:200px;float:right;">
    <fieldset>
        <legend><b>Severity: </b>Throughout the past 6 months, how much has this symptom bothered you? </legend>
        <ol start="0">
            <li>
                <input type="radio" id="sj0" name="smells" value="0">
                <label for="sj0">Symptom not present</label>
            </li>
            <li>
                <input type="radio" id="sj1" name="smells" value="1">
                <label for="sj1">Mild</label>
            </li>
            <li>
                <input type="radio" id="sj2" name="smells" value="2">
                <label for="sj2">Moderate</label>
            </li>
            <li>
                <input type="radio" id="sj3" name="smells" value="3">
                <label for="sj3">Severe</label>
            </li>
            <li>
                <input type="radio" id="sj4" name="smells" value="4">
                <label for="sj4">Very severe</label>
            </li>

        </ol>
    </fieldset>


</div>

    <button type="submit" name="result" value="result">Next</button>
</form>

<div class="container">
<p class="typed" > <i>{{ message }} </i></p>
</div>

</body>
<div class="meter">
  <span class="meter2span" style="--start:0%; width: 1%;" ></span>
</div>
